<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4-offset-4">
      <div class="form">

        <%= render "shared/forms/models/#{form}", model: model %>

      </div>
    </div>
  </div>
</div>
