<div class="container justify-content-between bg-white rounded p-3">
  <h1 class="card-stripe-event-title text-shadow-light">Upcoming events</h1>
    <% @upcoming_events.each do |event| %>

      <%# if !event.past? %>
        <%= render 'shared/cards/card_stripe_event', event: event %>
      <%# end %>

    <% end %>
    <h1 class="card-stripe-event-title text-shadow-light">Past events</h1>
    <% @past_events.each do |event| %>

      <%# if event.past? %>
        <%= render 'shared/cards/card_stripe_event', event: event %>
      <%# end %>

    <% end %>
  <div class="d-flex justify-content-center p-3">
      <%= link_to root_path, method: :get, class: 'btn-2 mr-3' do %>
        Go back
      <% end %>
  </div>
</div>
