<div class="container justify-content-between bg-white rounded p-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="card-stripe-event-title text-shadow-light">Live events</h1>
    <div class="text-danger mr-4 uppercase">
      <span class="spinner-grow spinner-grow-sm" role="status"></span>
      <span style="letter-spacing: 1px;">&thinsp;LIVE</span>
    </div>
  </div>
  <% @live_events.each do |event| %>
      <%= render 'shared/cards/card_stripe_event', event: event %>
  <% end %>
  <h1 class="card-stripe-event-title text-shadow-light">Upcoming events</h1>
    <% @upcoming_events.each do |event| %>
        <%= render 'shared/cards/card_stripe_event', event: event %>
    <% end %>
    <h1 class="card-stripe-event-title text-shadow-light">Past events</h1>
    <% @past_events.each do |event| %>

      <%# if event.past? %>
        <%= render 'shared/cards/card_stripe_event', event: event %>
      <%# end %>

    <% end %>
  <div class="d-flex justify-content-center p-3">
      <%= link_to root_path, method: :get, class: 'btn-2 mr-3' do %>
        Go back
      <% end %>
  </div>
</div>
