<%= render "shared/banner"%>

<div class="container">
  <div class="row">

    <div class="col-12 col-lg-4">
      <div class="card-landing">
        <%#= image_tag 'payments.svg', alt: '', class: ''%>
        <i class="fas fa-qrcode"></i>
        <h1 class="mt-3">Digitalize<br>ticketing</h1>
        <p>Tixfix provides a turnkey digital ticketing solution for your events</p>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-landing">
        <%#= image_tag 'events.svg', alt: '', class: ''%>
        <i class="far fa-calendar-alt"></i>
        <h1 class="mt-3">Manage<br>events</h1>
        <p>Manage all your events in one place. Coordinate easily with your team.</p>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-landing">
        <%#= image_tag 'revenue.svg', alt: '', class: ''%>
        <i class="fas fa-chart-bar"></i>
        <h1 class="mt-3">Simplify<br>reporting</h1>
        <p>Follow-up sales progress in real-time and streamline reporting</p>
      </div>
    </div>

  </div>
</div>
