<%= render "shared/banner"%>

<div class="container">
  <div class="row">

      <div class="col-12 col-lg-4">
        <div class="card-trip">
          <%= image_tag 'https://picsum.photos/300/150.jpg', alt: '', class: ''%>
          <h1 class="mt-3">Manage your events</h1>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card-trip">
          <%= image_tag 'https://picsum.photos/300/150.jpg', alt: '', class: ''%>
          <h1 class="mt-3">Digitalize your tickets</h1>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card-trip">
          <%= image_tag 'https://picsum.photos/300/150.jpg', alt: '', class: ''%>
          <h1 class="mt-3">Simplify your accounting</h1>
        </div>
      </div>

  </div>
</div>
