<h1>Welcome to example.com, </h1>
<p>
  You have successfully signed up to example.com, [TODO - INSERT RECEIVER NAME]
  your username is: [USERNAME].<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
