.btn-1 {
  background: $darker;
  opacity: 1;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  display: inline-block;
  box-shadow: 1px 1px 1px $core;
  overflow: hidden;
  font-size: 15px;
  transition: ease 0.5s;

  &:hover {
    color: white;
    opacity: 1;
    box-shadow: none;
    cursor: pointer;
  }
}
