// --------------------------------------------------------------------------
// LANDING PAGE CARDS

.card-landing {
  height: 500px;
  max-width: 450px;
  padding: 40px;
  overflow: hidden;
  margin: 50px auto;
  padding: 10px 20px;
  background: $white;
  border-radius: 10px;
  text-align: center;

  img {
    background-size: cover;
    background-size: center;
    height: 60%;
    width: 100%;
  }

  h1 {
      font-size: 30px;
  }

  p {

  }


  &:hover {
  //  width: 300px;
  //  height:250px;
    opacity: 1;
    box-shadow: none;
    padding: 5px;
  }
}

.card-landing .hidden-text {
  visibility: hidden;

  &:hover {
    visibility: visible;
  }
}


// .col-centered {
//   float: none;
//   margin: 0 auto;
// }



// --------------------------------------------------------------------------
// EVENTS STRIPES

.card-title {
  margin-top: 20px;
  margin-bottom: 40px;
}

.card-stripe{
  width: 100%;
  height: 70%;
  margin-bottom: 40px;
  border: 3px solid $darker;
  border-radius: 5px;
  opacity: 0.8;
  background-color: white;

  h2 {
    font-size: 30px;
  }

  p {
    margin-top: 20px;
    margin-left: 20px;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.card-content{
  text-align: center;
  padding: 10px;
}

.card-date {
  text-align: right;
  margin-right: 20px;
}

// --------------------------------------------------------------------------
// TICKETS STRIPES

// Whole card properties
.card-ticket-stripe {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  box-shadow: 1px 1px 5px $dark;
  border-radius: 10px;
  background-color: $lighter;

  h1 {
    font-size: 20px;
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: none;
  }
}

.card-ticket-img-placeholder {
  width: 100px;
  background-size: cover;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


// Left-hand side properties
.card-ticket-stripe-left {
  display: flex;
  height: 100%;

  .card-ticket-img-placeholder {
    border-radius: 10px 0 0 10px;
  }
}

.card-ticket-stripe-info-left {
  padding: 8px 16px;
}

// Right-hand side properties
.card-ticket-stripe-right {
  display: flex;
  height: 100%;

  .card-ticket-img-placeholder {
    border-radius: 0 10px 10px 0;
  }
}

.card-ticket-stripe-info-right {
  text-align: right;
  padding: 8px 16px;
}

// print button

.print-btn {
  font-size: 40px;
  margin: 0 16px;
}
