
h1 {
    font-size: 20px;;


  &:hover {
    width: 300px;
    height:250px;
    opacity: 1;
    box-shadow: none;
    padding: 10px;
  }

  img {
    height: 70%;
    width: 100%;
    background-size: center;
  }
}
