// --------------------------------------------------------------------------
// LANDING PAGE CARDS

.card-landing {
  height: 410px;
  max-width: 400px;
  padding: 40px;
  overflow: hidden;
  margin: 70px auto;
  padding: 10px 20px;
  background: $white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 2px $core;
  transition: ease 0.8s;

  img {
    background-size: cover;
    height: 60%;
    width: 100%;
  }

  i {
    font-size: 150px;
    margin: 30px auto;
    color: $darker;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    color: $darker;
  }

  &:hover {
    opacity: 1;
    box-shadow: none;
    margin: 40px auto;
    box-shadow: 5px 5px 20px $light;
  }
}

// --------------------------------------------------------------------------
// EVENTS STRIPES

.card-stripe-event {
  width: 100%;
  height: 70%;
  margin: 30px auto;
  border-radius: 15px;
  opacity: 0.9;
  background-color: $lighter;
  box-shadow: 1px 1px 1px $light;
  transition: ease 0.5s;
  position: relative;

  h2 {
    font-size: 30px;
  }

  p {
    margin-bottom: 5px;
  }

  img {
    height: 120px;
    width: 120px;
    background-size: center;
    margin-left: 0px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 5px 5px 10px $light;
  }
}

.card-stripe-event-link {
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

.card-stripe-event-title {
  margin-top: 20px;
  margin-bottom: 40px;
}

.card-stripe-event-content {
  text-align: center;
  padding: 10px;
}

.card-stripe-event-date {
  text-align: right;
  padding: 10px 15px 10px 0;
}

// --------------------------------------------------------------------------
// TICKETS STRIPES

// Whole card properties
.card-ticket-stripe {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  opacity: 0.8;
  border-radius: 10px 0 0 10px;
  background-color: $lighter;
  box-shadow: 1px 1px 1px $light;
  transition: ease 0.5s;

  h1 {
    font-size: 20px;
    margin: 0;
  }

  p {
    margin-bottom: 0;
    font-weight: 300;
  }

  small {
    font-weight: 300;
    font-size: 12px;
  }

  &:hover {
    opacity: 1;
    box-shadow: 5px 5px 10px $light;
  }

  .truncate {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-ticket-img {
  width: 100px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  height: 100%;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 0 0 10px;
  }
}

// Left-hand side properties
.card-ticket-stripe-left {
  display: flex;
  height: 100%;

  .card-ticket-img-placeholder {
    border-radius: 10px 0 0 10px;
  }
}

.card-ticket-stripe-info-left {
  padding: 8px 16px;
}

// Right-hand side properties
.card-ticket-stripe-right {
  display: flex;
  height: 100%;

  .card-ticket-img-placeholder {
    border-radius: 0 10px 10px 0;
  }
}

.card-ticket-stripe-info-right {
  text-align: right;
  padding: 8px 16px;
}

// Ticket Validation card properties

.card-validation-success {
  background: white;
  height: 300px;
  // width: 500px;
  text-align: center;
  margin: 50px auto;

  i {
    margin: 30px auto;
    font-size: 80px;
  }
}

.card-validation-fail {
  background: white;
  height: 300px;
  // width: 500px;
  text-align: center;
  margin: 50px auto;

  i {
    margin: 30px auto;
    font-size: 80px;
  }
}
