.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  text-shadow: 1px 1px 1px lightgray;

  a.nav-item {
    color: white;
  }

  .dropdown-item {
    text-shadow: none;
    color: $darker;
  }

  a.dropdown-item {
    color: $dark;
  }
}

.navbar-lewagon-white {
  background-color: white;
  text-shadow: none;
  .nav-item a {
    color: rgba(0,0,0,0.8);
  }

  .nav-item a.btn-1 {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
.white{
  color: white;
}

li.nav-item {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.avatar-letter-details {
  text-align: center;
  padding-top: 7px;
}
.black{
  color: black;
}
