// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    box-shadow: none;
    text-decoration: none;
  }
}

body {
  margin:0;
  background: rgba(220,220,220,0.8)
}

.bottom-dotted {
  border-bottom: 1px dotted $dark;
}

.progress-thin {
  height: 2px;
}

.progress-fat {
  height: 28px;
}
